---
import "../styles/globals.css";
import { projects } from "../consts";
import BaseLayout from "../components/BaseLayout.astro";
---

<BaseLayout>
  <!-- <div class="pt-10">Software developer</div> -->

  <!-- Projects -->
  <div class="pt-10">
    <h1 class="font-semibold text-lg">
      <span>🚧</span>
      Projects
    </h1>
    <div class="flex flex-col gap-5 pt-5">
      {
        projects
          .sort((a, b) => +b.year - +a.year)
          .map((p) => (
            <a href={p.url} target="_blank" class="group flex flex-col group">
              <div class="flex items-center gap-2">
                <span class="font-medium group-hover:underline">{p.name}</span>
                <span class="text-foreground/50">{p.year}</span>
                <div class="flex items-center gap-1">
                  {p.languages.map((l) => (
                    <div class="text-foreground/75 text-sm bg-foreground/10 px-2 rounded-sm">
                      {l}
                    </div>
                  ))}
                </div>
              </div>
              <div class="text-foreground/75">{p.description}</div>
            </a>
          ))
      }
    </div>
    <div class="pt-5 text-sm text-foreground/50">
      and many more... see the rest on <a
        class="text-blue-500 hover:underline"
        href="https://www.github.com/khalidbelhadj"
        target="_blank">github</a
      >
    </div>
  </div>

  <div
    class="mt-auto pt-10 flex items-center justify-between gap-2 max-sm:flex-col"
  >
    <div class="flex items-center gap-1">
      <a
        href="/public-key.txt"
        target="_blank"
        class="px-2 border w-fit text-sm text-foreground/75 text-nowrap"
      >
        PGP Public Key
      </a>
      <a
        href="https://www.github.com/khalidbelhadj"
        target="_blank"
        class="px-2 border w-fit text-sm text-foreground/75"
      >
        GitHub
      </a>

      <a
        href="https://www.linkedin.com/in/khalidbelhadj"
        target="_blank"
        class="px-2 border w-fit text-sm text-foreground/75"
      >
        LinkedIn
      </a>
    </div>

    <div>
      <div class="text-foreground/50 text-nowrap">
        &#169; {new Date().getFullYear()} Khalid Belhadj
      </div>
    </div>
  </div>
</BaseLayout>
