---
import "../styles/globals.css";
import { projects } from "../consts";
import BaseLayout from "../components/BaseLayout.astro";
import { getCollection } from "astro:content";
import PostPreview from "../components/PostPreview.astro";

const posts = await getCollection("posts");

const previewPosts = posts
  .sort((a, b) => {
    return b.data.date.getTime() - a.data.date.getTime();
  })
  .slice(0, 3);
---

<BaseLayout>
  <div class="pt-10">
    Currently finishing up uni, going to be a software engineer at <a
      href="https://www.palantir.com/uk"
      target="_blank"
      class="text-blue-500 hover:underline">Palantir</a
    >
  </div>

  <!-- Projects -->
  <div class="pt-10">
    <h1 class="font-semibold text-lg">
      <span>🚧</span>
      Projects
    </h1>
    <div class="flex flex-col gap-5 pt-5">
      {
        projects.map((p) => (
          <a href={p.url} target="_blank" class="group flex flex-col">
            <div class="flex items-center gap-2">
              <span class="font-medium">{p.name}</span>
              <span class="text-foreground/50 font-light">{p.year}</span>
              <div class="flex items-center gap-1">
                {p.languages.map((l) => (
                  <div class="text-foreground/75 font-light text-sm bg-foreground/10 px-2 rounded-sm">
                    {l}
                  </div>
                ))}
              </div>
            </div>
            <div class="text-foreground/75 font-light">{p.description}</div>
          </a>
        ))
      }
    </div>
    <div class="pt-5 text-sm font-light text-foreground/50">
      and many more... see the rest on <a
        class="text-blue-500 hover:underline"
        href="https://www.github.com/khalidbelhadj"
        target="_blank">github</a
      >
    </div>
  </div>

  <div class="pt-10">
    <h1 class="font-semibold text-lg">
      <span>📝</span>
      Recent Posts
    </h1>
    {
      previewPosts.length > 0 && (
        <>
          <div class="flex flex-col gap-5 pt-5">
            {previewPosts.map((p) => (
              <PostPreview post={p} />
            ))}
          </div>

          <div class="pt-5 text-sm font-light text-foreground/50">
            see all posts{" "}
            <a class="text-blue-500 hover:underline" href="/posts">
              here
            </a>
          </div>
        </>
      )
    }

    {
      previewPosts.length === 0 && (
        <div class="pt-5 text-sm font-light text-foreground/50">
          no posts yet
        </div>
      )
    }
  </div>

  <div
    class="mt-auto pt-10 flex items-center justify-between gap-2 max-sm:flex-col"
  >
    <div class="flex items-center gap-1">
      <a
        href="/public-key.txt"
        target="_blank"
        class="bg-accent rounded-full px-2 border w-fit text-sm text-foreground/75 text-nowrap"
      >
        PGP Public Key
      </a>
      <a
        href="https://www.github.com/khalidbelhadj"
        target="_blank"
        class="bg-accent rounded-full px-2 border w-fit text-sm text-foreground/75"
      >
        GitHub
      </a>

      <a
        href="https://www.linkedin.com/in/khalidbelhadj"
        target="_blank"
        class="bg-accent rounded-full px-2 border w-fit text-sm text-foreground/75"
      >
        LinkedIn
      </a>
    </div>

    <div>
      <div class="text-foreground/50 font-light text-nowrap">
        &#169; {new Date().getFullYear()} Khalid Belhadj
      </div>
    </div>
  </div>
</BaseLayout>
