---
import "../styles/globals.css";
import { education, experience, about } from "../consts";
import link from "../assets/link.svg?raw";

import Card from "../components/Card.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
---

<BaseLayout>
  <Card class="w-full h-full p-3 flex flex-col gap-5 overflow-x-clip">
    <h2 class="text-foreground/50">About</h2>
    <p class="text-foreground">
      {about}
    </p>
  </Card>
  <Card class="flex flex-col gap-5">
    <h2 class="text-foreground/50">Projects</h2>
    {
      projects.map((project) => (
        <div class="flex flex-col gap-2">
          <div class="flex gap-2 items-center">
          <a target="_blank" href={project.data.link} class="flex items-center hover:text-foreground/70 transition-colors truncate">
            <div class="truncate">{project.data.title}</div>
            <Fragment set:html={link} />
          </a>
          <div class="flex-grow bg-border h-[0.1rem] rounded-full min-w-5" />
          <div class="text-foreground/40">{project.data.date}</div>
          </div>
        </div>
      ))
    }
  </Card>
  <Card class="flex flex-col gap-5">
    <h2 class="text-foreground/50">Education</h2>
    {
      education.map(({ dates, description }) => (
        <div class="flex gap-2 items-center">
          <p class="truncate">{description}</p>
          <div class="flex-grow bg-border h-[0.1rem] rounded-full min-w-5" />
          <div class="text-foreground/40">{dates}</div>
        </div>
      ))
    }
  </Card>
  <Card class="flex flex-col gap-5">
    <h2 class="text-foreground/50">Experience</h2>
    {
      experience.map(({ dates, description }) => (
        <div class="flex gap-2 items-center">
          <p class="truncate">{description}</p>
          <div class="flex-grow bg-border h-[0.1rem] rounded-full min-w-5" />
          <div class="text-foreground/40">{dates}</div>
        </div>
      ))
    }
  </Card>
  <Card class="flex text-sm gap-2 items-center">
      <div class="bg-border py-1 px-3 rounded-lg flex items-center hover:bg-border/70 hover:cursor-pointer transition-colors text-foreground/80 hover:text-foreground/70"><a href="https://raw.githubusercontent.com/khalidbelhadj/cv/main/build/CV.pdf" target="_blank">Résumé</a></div>
      <div class="bg-border py-1 px-3 rounded-lg flex items-center hover:bg-border/70 hover:cursor-pointer transition-colors text-foreground/80 hover:text-foreground/70"><a href="https://github.com/khalidbelhadj/" target="_blank">GitHub</a></div>
      <div class="bg-border py-1 px-3 rounded-lg flex items-center hover:bg-border/70 hover:cursor-pointer transition-colors text-foreground/80 hover:text-foreground/70"><a href="https://www.linkedin.com/in/khalidbelhadj/" target="_blank">LinkedIn</a></div>
  </Card>
</BaseLayout>
