---
import { TITLE, DESCRIPTION } from "../consts";
import "../styles/globals.css";
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/png" href="/favicon.png" />
<meta name="generator" content={Astro.generator} />
<meta
  name="theme-color"
  media="(prefers-color-scheme: light)"
  content="rgb(255, 255, 255)"
/>
<meta
  name="theme-color"
  media="(prefers-color-scheme: dark)"
  content="rgb(15, 15, 15)"
/>

<!-- Primary Meta Tags -->
<title>{TITLE}</title>
<meta name="title" content={TITLE} />
<meta name="description" content={DESCRIPTION} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={TITLE} />
<meta property="og:description" content={DESCRIPTION} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={TITLE} />
<meta property="twitter:description" content={DESCRIPTION} />
