---
import { TITLE, DESCRIPTION } from "../consts";
import "../styles/globals.css";
---

<!-- Preload Lora font -->
<link rel="preload" href="/fonts/lora-latin-400-normal.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/fonts/lora-latin-500-normal.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/fonts/lora-latin-600-normal.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/fonts/lora-latin-700-normal.woff2" as="font" type="font/woff2" crossorigin />

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="generator" content={Astro.generator} />
<meta name="theme-color" content="rgb(255, 255, 255)" />

<!-- Primary Meta Tags -->
<title>{TITLE}</title>
<meta name="title" content={TITLE} />
<meta name="description" content={DESCRIPTION} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={TITLE} />
<meta property="og:description" content={DESCRIPTION} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={TITLE} />
<meta property="twitter:description" content={DESCRIPTION} />
